extends layout

block header
    header.w3-display-container.w3-content.w3-wide(style='max-width:1500px')
        div.container
            p(style='text-align:center')
                img(src='/img/banner.jpg')
    div.container
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id feugiat dui. Maecenas ac pellentesque lorem. Sed sed tellus sapien. Sed eget tellus a odio interdum fringilla. Vestibulum eros quam, ullamcorper ac arcu in, placerat iaculis erat. Duis ac augue at tortor posuere pulvinar nec imperdiet tortor. Integer eget magna dui. Vestibulum bibendum elementum dolor ut venenatis. Quisque semper euismod egestas. Donec iaculis justo turpis, at efficitur arcu iaculis ut. Etiam id tincidunt nunc, at placerat orci.
