doctype html
html
  head
    body
        div.container#test
            p #{test}
        div.w3-col#contents    
            form(action='checkbox', method='post')
                fieldset
                    p
                    label Which place are you interested in?
                    br
                    input(type='checkbox' name='music' value='music')
                    |   For Music Lovers
                    //- i.fa.fa-check-square
                    br
                    input(type='checkbox' name='ancient' value='ancient')
                    | Ancient History
                    br
                    input(type='checkbox' name='romantic' value='romantic')
                    | Romantic Destination
                    br
                    input(type='checkbox' name='popular' value='popular')
                    | Popular Destination
                    br
                    input(type='checkbox' name='beaches' value='beaches')
                    | Beaches
                    p
                    
                    label Continents?
                    select(name='destination')
                        option(value='asia', selected='') Asia
                        option(value='europe') Europe
                        option(value='africa') Africa
                        option(value='america') America
                    p
                    input(type='submit', value='Submit')
                    p
                    div
                    img(src='https://hdqwalls.com/download/romantic-place-beach-2048x1152.jpg', alt='Romantic', style='width:500px;height:400px;')
                    img(src='http://bestplacesonearth.net/wp-content/uploads/2014/07/wallpaper-of-pyramids-of-giza-720x375.jpg', alt='Ancient History', style='width:500px;height:400px;')
                    img(src='http://belfastmediagroup.com/wp-content/uploads/2015/07/onstage-Lloyds.jpg', alt='Music Lovers', style='width:500px;height:400px;')
                    img(src='http://travelguide.nettavisen.no/wp-content/uploads/2015/03/MoskenesLofoten-980x660.jpeg', alt='Popular Destination', style='width:500px;height:400px;')
