extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center")
        h2 ERROR
      div(class="box align-center")
        if message
          h1= message
        if error
          h2= error.status
          pre #{error.stack}
