extends layout

block content
  section(id="banner")
    h1 Welcome to #{title}
  section(id="main" class="wrapper")
    div(class="inner")
      div(class="align-center")
        h2 Coming Soon
        