extends layout

block content
  if !login
    div(id="heading")
			h1 Login
    form(action="/login", method="post")
      div(class="col-6 col-12-xsmall center")
        input(name = "username" type = "text" required placeholder = "username")
      div(class="col-6 col-12-xsmall center")
        input(name = "password" type = "password" required placeholder = "password")
      div(class="col-12 center")
        ul(class="actions")
          li
            button(type="Submit" class="primary") Log in
  if login
    div(id="heading")
      h1 Welcome #{username}
