extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center")
        h2 Login
      div(class="align-center")
        form(action="/profile", method="post")
          div(class="6u 12u$(xsmall) center")
            input(name = "username" type = "text" required placeholder = "username")
          div(class="6u 12u$(xsmall) center")
            input(name = "password" type = "password" required placeholder = "password")
          div(class="6u 12u$(xsmall) center")
            button(type="Submit" class="button special fit") Log in
