extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center") 
        h2 Welcome #{username}
      div(class="align-center")
        p Your access token is "#{token}"
        form(action="/logout", method="get")
          button(type="Submit" class="button special") Log out
        h3 User Data Profile Here
        h3 Coming Soon
        if message
          p #{message}
