extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center")
        h2 Register
      div(class="box")
        div(class="align-center")
          form(action="/register", method="post")
            div(class="row uniform")
              div(class="12u$")
                input(name = "username" id="username" type = "text" required placeholder = "username")
              div(class="12u$")
                input(name = "password" id="password" type = "password" required placeholder = "password")
              div(class="12u$")
                ul(class="actions")
                  li
                    input(type="Submit" class="button special fit" value="Register")
